doctype html
html
    head
        style
            include style.css
    body
        div.footer Магазин духів "Ромашка"

        block content

        div.footer Щиро ваші Romashka Inc.
            | Best regards
            br
            a(href=frontendURL) Hebron Rocket Course
