extends container
block content
    p #{userName}
    div
        | Oops looks like you forgot your password.
        p Don't worry, everybody forgot something

        button
            a(href=forgotPasswordUrl) CLICK HERE TO RESET
